<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- spnum Column -->
    <ng-container matColumnDef="spnum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sprint no.</th>
      <td mat-cell *matCellDef="let row">{{row.spnum}}</td>
    </ng-container>

    <!-- Start date Column -->
    <ng-container matColumnDef="stdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
      <td mat-cell *matCellDef="let row">{{row.stdate}}</td>
    </ng-container>

    <!-- End date Column -->
    <ng-container matColumnDef="enddate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
      <td mat-cell *matCellDef="let row">{{row.enddate}}</td>
    </ng-container>

    <!-- file name Column -->
    <ng-container matColumnDef="filename">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>File name</th>
      <td mat-cell *matCellDef="let row">{{row.filename}}</td>
    </ng-container>

    <!-- icon Column -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
      <td  mat-cell *matCellDef="let row">
      <mat-icon>delete</mat-icon>
    </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
