.upload-content{
    width: fit-content;
    height: 375px;
    mat-icon{
        color: silver;
    font-size: 200px;
    width: fit-content;
    height: 375px;
    }
}

.detail-content{
    width: 400px;
    height: 375px; 
    
}
.button-detail{
    bottom: 10pt;
    right: 10pt; 
    
}
