.upload-content{
    width: fit-content;
    height: 375px;
    mat-icon{
        color: silver;
    font-size: 100px;
    width: fit-content;
    height: fit-content;
    }
}

.detail-content{
    width: 400px;
    height: 375px; 
    
}
.button-detail{
    margin: 5pt;
    margin-right: 5pt; 
    
}

