<!-- <p>upload-file works!</p>

<span class="material-icons">cloud_upload</span>

<section>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Uoload</button>
      <button mat-raised-button color="warn">Cancel</button>
    </div>
  </section> -->
  <div fxLayout="row" fxLayoutAlign="start center">
      <!-- <mat-card  class="upload-content" fxFlex="70" fxLayoutAlign="center center">
        <mat-card-content>
            <mat-icon>cloud_upload</mat-icon>
        </mat-card-content>
      </mat-card> -->
      <mat-card fxLayout="column"  class="upload-content" fxFlex="70" fxLayoutAlign="center center">
        <mat-icon>cloud_upload</mat-icon>
        <p>dfjhdjhjsdfhj</p>
      </mat-card>
      <div style="background-color: yellow;" fxFlex="30" fxLayoutAlign="center center" >2</div>
  </div>